{% extends "accounts/base.html" %} 

{% block content %}

<div class="col-md-16">
	<h4 class="mb-3">Issues Rejected in Last 7 Days</h4>	
   <p class="round2">		
	
			
			<table class="tableizer-table">
				<tr class="table-info">
					<th>ID</th>
					<th>Analyst</th>
					<th>Created</th>
				
					
					<th>Issue</th>
					<!--<th>Int. Issues</th>
					<th>Ext. Issues</th>-->
					<th>Process</th>
					<th>SWOT</th>
					<th>Issue.Desc.</th>
					<th>OtherIssues</th>
						<th>Details</th>
						<th>Status</th>	
                        <th>Reason</th>	

					
				
				</tr>
				
				{% for i in pendingcar %}
				
					<tr>
					<td>{{i.issue_number}}</td>
					<td>{{i.analyst}}</td>
					<td>{{i.analysis_date}}</td>
				
					
					<td>{{i.get_context_display}}</td>
					<!--<td>{{i.get_internal_issues_display}}</td>
					<td>{{i.get_external_issues_display}}</td>-->
					<td>{{i.get_process_desc_display}}</td>
					<td>{{i.get_process_issues_display}}</td>
					{% if i.process_StrengthWeakness != empty %}
					
					<td colspan="1">{{i.process_StrengthWeakness}}</td>
					{% else %}
					<td colspan="1">{{i.process_OpportunitiesThreats}}</td>
					{% endif %}

					<td>{{i.otherIssue}}</td>
						<td>{{i.description}}</td>
						<td>{{i.status}}</td>
                        <td>{{i.rejected}}</td>
					
				

					
				
					
					</tr>

				{%endfor%}
		
			</table>
			
	
	</div>




{% endblock %} 