{% extends "accounts/base.html" %} 

{% block content %}

<div class="col-md-10">
	<h4 class="mb-3">Compliance Pending:</h4>	
   <p class="round2">	
	
			
			<table class="tableizer-table">
				<tr class="table-info">
					<th>ID</th>
					<th>Analyst</th>
									
					<th>Requirement</th>
					<th>OtherRequirement</th>
					<th>Description</th>
					<th>Document</th>
					<th>InerestedParty</th>
					<th>Details</th>								
					<th>Responsility</th>
					<th>ApprovalComment</th>
					<th>StartDate</th>
					<th>EndDate</th>

					<th>Status</th>
				
					
			
					<th></th>
				</tr>
				
				{% for i in pendingcar %}
				
					<tr>
					<td>{{i.regulatory_number}}</td>
					<td>{{i.analyst}}</td>
					
					<td>{{i.cat_name}}</td>
					<td>{{i.otherCategory}}</td>
					<td>{{i.description}}</td>
					<td>{{i.document}}</td>
					<td>{{i.interestedparty}}</td>
					<td>{{i.otherInterestedParty}}</td>
					<td>{{i.responsibility}}</td>
					<td>{{i.rejected}}</td>
					<td>{{i.registered}}</td>
					<td>{{i.due}}</td>
					<td>{{i.status}}</td>
					
				
					<td><a class="btn btn-sm btn-info" href="{%url 'approve_requirement' i.regulatory_number %}">Action</a></td>

					</tr>



				{%endfor%}
		
			</table>
		


</div>


{% endblock %} 