
{% extends 'accounts/base.html' %}
{% block content %}
{% load static %}
{% include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md">
		<h6>Tasks Pending Approval:</h6>
		
		
		
		<div class="table table-sm">
			    	<a href="{% url 'ip_pending'%}">IPs: {{total_IPS}}</a><br>
					<a href="{% url 'issues_pending'%}">Issues: {{total_ISSUES}}</a><br>
					<a href="{% url 'requirement_pending'%}">Compliance: {{total_COMPLAINCE}}</a><br>
			    	<a href="{% url 'risk_pending'%}">Risks: {{total_RISKS}}</a><br>
					<a href="{% url 'opp_pending'%}">Opportunity: {{total_OPPORTUNITY}}</a><br>
					<a href="{% url 'qms_pending'%}">QMS Planner: {{total_QMSplanner}}</a><br>
					<a href="{% url 'trainplanner_pending'%}">Training Planner: {{total_Trainingplanner}}</a><br>
					<a href="{% url 'incidentregister_due'%}">Incident: {{total_INCIDENTREGISTER}}</a><br>
					<a href="{% url 'planning_pending'%}">Corrective Action: {{total_CORRECTIVEACTION}}</a><br>
			    	<a href="{% url 'changerequest_pending'%}">Change Request: {{total_CHANGEREQUEST}}</a><br>
					<a href="{% url 'customersatisfaction_due'%}">Customer Satisfaction: {{total_CUSTOMERSATISFACTION}}</a><br>
					<a href="{% url 'customercomplaint_due'%}">Customer Complaint: {{total_CUSTOMERCOMPLAINT}}</a><br>
			    	<a href="{% url 'providerassessments_due'%}">Provider Assessment: {{total_PROVIDERASSESSMENT}}</a><br>
		</div>
			  
		
		
	</div>


<div class="col-md-4">

<div id="containeres"></div>
<script src="{% static 'js/highcharts.src.js' %}"></script>

<script>
//RESIDUAL RISK PIE CHART

// Build the chart
Highcharts.chart('containeres', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Residual Risk'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,format:'{point.name} {point.percentage:.1f}%'
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Risk',
        colorByPoint: true,
        data: [{
            name: 'Low',
            y: {{low}},
            sliced: false,
            selected: true,
            color: 'green'
        }, {
            name: 'Medium',
            y: {{medium}},
            color: 'yellow'
        }, {
            name: 'High',
            y: {{high}},
            color: 'red'

        }
        ]
    }]
});
              

     

</script>
</div>
<div class="col-md-4">

<div id="containers"></div>
<script src="{% static 'js/highcharts.src.js' %}"></script>

<script>
//CUSTOMER SURVEY PIE CHART

// Build the chart
Highcharts.chart('containers', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Customer Satisfaction'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,format:'{point.name} {point.percentage:.1f}%'
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'CSI',
        colorByPoint: true,
        data: [{
            name: 'Poor',
            y: {{poor}},
            sliced: true,
            selected: true
        }, {
            name: 'Improve',
            y: {{improvement}}
        }, {
            name: 'Satisfactory',
            y: {{satisfactory}}
        }, {
            name: 'Good',
            y: {{good}}
        }, {
            name: 'Excellent',
            y: {{excellent}}
        }]
    }]
});
              

     

</script>
</div>

</div>
<br>
<div class="row">


<div class="col-md-6">

<div id="containerse"></div>
<script src="{% static 'js/highcharts.src.js' %}"></script>

<script>

//NUMBER OF INCIDENTS AND CUSTOMER COMPLAINTS LINE GRAPH
// Build the chart
Highcharts.chart('containerse', {

    title: {
        text: 'Incident and Complaints in last 6 Months'
    },

    subtitle: {
        text: ''
    },

    yAxis: {
        title: {
            text: 'Number'
        }
    },

    xAxis: {
        accessibility: {
            rangeDescription: 'Range: 1 to 6'
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 1
        }
    },

    series: [{
        name: 'Incidents',
        data: [{{first}}, {{second}}, {{third}}, {{forth}}, {{fifth}}, {{sixth}}]
    }, {
        name: 'Complaints',
        data: [{{firstt}}, {{secondd}}, {{thirdd}}, {{forthh}}, {{fifthh}}, {{sixthh}}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
          
</script>
</div>
<div class="col-md-6">

<div id="containersee"></div>
<script src="{% static 'js/highcharts.src.js' %}"></script>

<script>

//NUMBER OF INCIDENTS AND CUSTOMER COMPLAINTS LINE GRAPH
// Build the chart
Highcharts.chart('containersee', {

    title: {
        text: 'Incidents cost in last 6 Months'
    },

    subtitle: {
        text: ''
    },

    yAxis: {
        title: {
            text: 'Total cost'
        }
    },

    xAxis: {
        accessibility: {
            rangeDescription: 'Range: 1 to 6'
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 1
        }
    },

    series: [{
        name: 'Incidents Cost',
        data: [{{first_cost}}, {{second_cost}}, {{third_cost}}, {{forth_cost}}, {{fifth_cost}}, {{sixth_cost}}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
              

     

</script>
</div>
<div class="col-md">
<br>
<div id="containersee"></div>
<script src="{% static 'js/highcharts.src.js' %}"></script>

<script>

//NUMBER OF INCIDENTS AND CUSTOMER COMPLAINTS LINE GRAPH
// Build the chart
Highcharts.chart('containersee', {

    title: {
        text: 'Incidents cost in last 6 Months'
    },

    subtitle: {
        text: ''
    },

    yAxis: {
        title: {
            text: 'Total cost'
        }
    },

    xAxis: {
        accessibility: {
            rangeDescription: 'Range: 1 to 6'
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 1
        }
    },

    series: [{
        name: 'Incidents Cost',
        data: [{{first_cost}}, {{second_cost}}, {{third_cost}}, {{forth_cost}}, {{fifth_cost}}, {{sixth_cost}}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
              

     

</script>
</div>
</div>



<div class="row">
	

	
		<div class="col-md">
		
			
		<div id="container"></div>
		
		<script src="{% static 'js/highcharts.src.js' %}"></script>
		
		<script>  Highcharts.chart('container', {{ chart|safe }}); </script>
		</div>
	

	
	
</div>

<div class="row">
	

	
		<div class="col-md">
		
			
		<div id="contain"></div>
		
		<script src="{% static 'js/highcharts.src.js' %}"></script>
		
<script>  // Set up the chart
 Highcharts.chart('container', {{ nonconfcharts|safe }});


</script>
		</div>
	

	
	
</div>

{% endblock %}

