{%load static%}
<nav class="navbar navbar-expand-lg">

<!-- swimbi code start -->
<link rel="stylesheet" type="text/css" href="menu_files/swimbi.css"/>
<div id="swimbi">
    <ul>
        <li><a data-icon="&#xF015;" href="{% url 'home'%}">Home</a></li>
        <li><a data-icon="&#xF13C;" href="null">QMS</a>
            <ul>
                <li><a data-icon="&#xF0E4;" href="{% url 'home'%}">DashBoard</a></li>
                <li><a data-icon="&#xF0F7;" href="">Context</a>
                    <ul>
                        <li><a data-icon="&#xF0F0;" href="">Interested Parties</a>
                            <ul>
                                <li><a data-icon="&#xF14B;" href="{% url 'interested_parties'%}">Create</a></li>
                                <li><a data-icon="&#xF00C;" href="{% url 'ip_pending'%}">Approve</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF022;" href="">Issues</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'issues'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'issues_pending'%}">Approve</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF0A3;" href="">Compliance</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'regulatory_requirement'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'requirement_pending'%}">Approve</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a data-icon="&#xF00B;" href="#">Planning</a>
                    <ul>
                        <li><a data-icon="&#xF12D;" href="#">Risks Assessment</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'risks'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'risk_pending'%}">Approve</a></li>
                                <li><a data-icon="&#xF12E;" href="{% url 'risks_due'%}">Verification</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF14E;" href="">Opp. Assessment</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'opportunity'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'opp_pending'%}">Approve</a></li>
                                <li><a data-icon="&#xF12E;" href="{% url 'opp_due'%}">Verification</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF013;" href="null">QMS Planner</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'qms_planner'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'qms_pending'%}">Approve</a></li>
                                <li><a data-icon="&#xF12E;" href="{% url 'qms_due'%}">Verification</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF0C0;" href="null">Training Planner</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'training_planner'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'trainplanner_pending'%}">Approve</a></li>
                                <li><a data-icon="&#xF12E;" href="{% url 'training_due'%}">Verification</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a data-icon="&#xF12E;" href="#">Operations</a>
                    <ul>
                        <li><a data-icon="&#xF016;" href="null">Incident</a>
                            <ul>
                                <li><a data-icon="&#xf0c5" href="{% url 'incidentRegister'%}">Log</a></li>
                                <li><a data-icon="&#xf029" href="{% url 'incidentRegisterStaff'%}">Analysis</a></li>
                                <li><a data-icon="&#xF058;" href="{% url 'incidentregister_due'%}">Verify</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xf19b" href="null">Training Evaluation</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'trainingReg'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="">Verify</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xf0a5" href="null">Corrective Action</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'correctiveaction'%}">Request</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'planning'%}">Planning</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'planning_pending'%}">Approve</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'planning_due'%}">Verify</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF1D9;" href="null">Change Request</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'changerequest'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'changerequest_pending'%}">Approve</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'changerequest_due'%}">Verify</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xf005" href="null">Customer Satisfaction</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'customersatisfaction'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'customersatisfaction_due'%}">Verify</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xf01c" href="null">Customer Complaint</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'customercomplaint'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'customercomplaint_due'%}">Verify</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF185;" href="#">Provide Assessment</a>
                            <ul>
                                <li><a data-icon="&#xF015;" href="{% url 'providerassessment'%}">Create</a></li>
                                <li><a data-icon="&#xF015;" href="{% url 'providerassessments_due'%}">Verify</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a data-icon="&#xF192;" href="#">Miscellaneous</a>
                    <ul>
                        <li><a data-icon="&#xf05b" href="#">Asset Tracker</a></li>
                        <li><a data-icon="&#xF066;" href="#">Job Tracker</a></li>
                        <li><a data-icon="&#xf0cb" href="#">Account Tracker</a></li>
                    </ul>
                </li>
                <li><a data-icon="&#xF040;" href="#">Reports</a>
                    <ul>
                        <li><a data-icon="&#xF02D;" href="{% url 'documentmanager_report'%}">Document Register</a></li>
                        <li><a data-icon="&#xF03C;" href="">Context</a>
                            <ul>
                                <li><a data-icon="&#xF1A8;" href="{% url 'ip_report'%}">Interested Parties (IPs) Register</a></li>
                                <li><a data-icon="&#xF0D0;" href="{% url 'issues_report'%}">Issues Register</a></li>
                                <li><a data-icon="&#xF0E3;" href="{% url 'regulatory_report'%}">Compliance Register</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xf036" href="">Planning</a>
                            <ul>
                                <li><a data-icon="&#xF1C9;" href="{% url 'qms_report'%}">QMS Planner</a></li>
                                <li><a data-icon="&#xF1C6;" href="{% url 'trainingplan_report'%}">Training Plan</a></li>
                                <li><a data-icon="&#xF1DB;" href="{% url 'opportunity_report'%}">Opportunity Register</a></li>
                                <li><a data-icon="&#xF00D;" href="{% url 'risks_report'%}">Risk Register</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xF09D;" href="#">Operations</a>
                            <ul>
                                <li><a data-icon="&#xF02B;" href="{% url 'incident_report'%}">Incident Register</a></li>
                                <li><a data-icon="&#xF044;" href="{% url 'training_register_report'%}">Training Evaluation/Register</a></li>
                                <li><a data-icon="&#xF1CB;" href="{% url 'providerAssessment_report'%}">Provider Assessment</a></li>
                                <li><a data-icon="&#xF00C;" href="{% url 'customersatisfaction_report'%}">Customer Satisfaction Survey</a></li>
                                <li><a data-icon="&#xF0B2;" href="{% url 'customer_complaint_report'%}">Complaints Register</a></li>
                                <li><a data-icon="&#xF046;" href="{% url 'changeRegister_report'%}">Change Register</a></li>
                            </ul>
                        </li>
                        <li><a data-icon="&#xf1da" href="#">Evaluation</a>
                            <ul>
                                <li><a data-icon="&#xF115;" href="{% url 'correctiveaction_report'%}">Corrective Action Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a data-icon="&#xF13E;" href="http://">ISMS</a></li>
        <li><a data-icon="&#xF108;" href="">IT-SMS</a></li>
        <li><a data-icon="&#xF02D;" href="{% url 'doc_manager'%}">Document Manager</a></li>
        <li><a data-icon="&#xF007;" href="{% url 'admin:index' %}">Admin Account</a></li>
        <li>Welcome: {{request.user}}!</li>
        <li><a class="notification" href="null">
  <span><i class="fa fa-envelope" style="font-size:24px;color:red"></i></span>
  <span class="badge">{{total_tasks}}</span>
</a></li>
        <li><a data-icon="&#xF08B;" href="{% url 'logout'%}">Signout</a></li>
    </ul>
<canvas><noscript><a href="//swimbi.com">SWIMBI css+ for menu</a>  swimbi.com. All Rights Reserved</noscript></canvas>
<div id="ie_message"><noscript>Local test in IE is better if you "<a href="http://f-source.com/swimbi/ie-allow-blocked-content/" target="_blank">Allow blocked content</a>" - click the button below.</noscript></div>
</div>
<script src="menu_files/swimbi.js"></script>
<!-- swimbi code end -->

</nav>
