{% extends "accounts/base.html" %} 

{% block content %}

<div class="col-md-28">
	  <h5>
<label for="residuelikelihood"> Change Request Pending:</label>
</h5>
 <p class="round2">	
	
			
			<table class="tableizer-table">
				<tr class="table-info">
					<th>RequestNo</th>
					<th>Date</th>
					<th>RaisedBy</th>
					<th>Trigger</th>
					<th>Process</th>
					<th>ChangeType</th>
					<th>Description</th>
                    <th>Add.Details</th>
					<th>Reason</th>
					<th>Other</th>
                    <th>Evaluation</th>
					<th>Add.Desc</th>
					<th>Risk</th>
					<th>Currency</th>
					<th>Amount</th>
					<th>Details</th>
		
					<th>Status</th>
					
					
					<th></th>
				</tr>
				
				{% for i in pendingcar %}
				
					<tr>
					<td>{{i.req_no}}</td>
					<td>{{i.date}}</td>
					<td>{{i.raisedby}}</td>
					<td>{{i.trigger}}</td>
					<td>{{i.process}}</td>
					<td>{{i.changetype}}</td>
					<td>{{i.changetype_desc}}</td>
<td>{{i.changedesc}}</td>
<td>{{i.reason}}</td>	
<td>{{i.reason_details}}</td>		
<td>{{i.get_evaluation_display}}</td>	
<td>{{i.evaldesc}}</td>	
<td>{{i.get_cost_display}}</td>		
					<td>{{i.get_currency_display}}</td>
					<td>{{i.costdescription}}</td>
						<td>{{i.add_desc}}</td>
				
					<td>{{i.status}}</td>
					
					
					
					<td><a class="btn btn-sm btn-info" href="{%url 'approve_changerequest' i.req_no %}">Action</a></td>

					</tr>

				{%endfor%}
		
			</table>
		</div>





{% endblock %} 