{% extends "accounts/base.html" %} 

{% block content %}
<br>
<div class="col-md-26">
		
		<div class="">
			
			<table class="table table-sm">
				<tr class="table-info">
				<th>Survey No</th>
					<th>Created on</th>
					<th>Organisation</th>
					<th>Start</th>
					<th>End</th>
					<th>FinalRating</th>
					<th>Comment</th>
					<th>Improv.Plan</th>
					<th>Add.Details</th>
					<th>AssignedTo</th>
					<th>When</th>
                    <th>Status</th>
					<th></th>
					<th></th>
					
                            
						
						</tr>
						{% for i in pendingcar %}
						<tr>
					<td>{{i.satis_no}}</td>
					<td>{{i.date}}</td>
					<td>{{i.organisation}}</td>
					<td>{{i.start}}</td>
					<td>{{i.end}}</td>
					<td>{{i.rank}}</td>
					<td>{{i.comment}}</td>
					<td>{{i.get_improvplan_display}}</td>
					<td>{{i.details}}</td>
					<td>{{i.assignedto}}</td>
					<td>{{i.due}}</td>
					<td>{{i.status}}</td>
					
					<td><a class="btn btn-sm btn-info" href="{%url 'customersatisfaction_pending' i.satis_no %}">Action</a></td>

					</tr>

				{%endfor%}
		
			</table>
		</div>
	</div>

</div>


{% endblock %} 