
{% extends "accounts/base_survey.html" %} 
{% block content %}


<style>
form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}


</style>
<div class="col-md-9 order-md-1">
          <h6 class="mb-3">Business Centre Ltd - Customer Satisfaction Survey:

          <customer class="mb-3"> </customer>
<p class="round2"> 

<form action="/customersatisfaction_surveyed/{{customer_name}}" method="post">
                     {% csrf_token %}
 <div class="card-header">                    
<table border="0">            
{% for errors in form.errors %}
<div class="alert alert-danger"> {{form.errors}}</div>
{%endfor%}
{% for field in form.visible_fields %}
   
      
      <tr>
           {% if "1. Time Management:" in field.label_tag  %}
					<th colspan="2" >
         <h7><br><customer class="mb-3">Ratings: Outstanding (5), Excellent (4), Satisfactory (3), Some Improvement Needed (2), Unsatisfactory(1)</customer></h5><p class="round2"> 
					</th>
         
          <td>
          
          <td>
        
         {% endif %}
         
     

</tr>

<tr>
       				
        <th>{{ field.label_tag }}</th>


        <td>
          {{ field.errors }}
          {{ field }}
          {{ field.help_text }}
          
        </td>
        
      </tr>
    {% endfor %}


</table>

<br>
<p class="round2"> 
<div class="card card-body">
					<table class="form-group">
					<tr> 

<td><a class="btn  btn-warning" href="{% url 'home'%}"> Cancel </a></td>
<td align="right"><input class="btn btn-info" type="submit" name="Submit"></td>
					</tr>
          </table>
</div>
</div>
</form>
</div>





{% endblock %} 










