{%  extends 'accounts/base.html' %}

{% block content %}

		<br>
		<div class="row">
			<div class="col-md">
				
				
				<div class="">
					<table class="table-bordered">
						<tr class="table-info">
							
					<th>Survey No</th>
					<th>Created on</th>
					<th>Organisation</th>
					<th>Start</th>
					<th>End</th>
					<th>FinalRating</th>
					<th>Comment</th>
					<th>Improv.Plan</th>
					<th>Add.Details</th>
					<th>AssignedTo</th>
					<th>When</th>
                    <th>Status</th>
					
                            
						
						</tr>
						{% for i in products %}
						<tr>
					<td>{{i.satis_no}}</td>
					<td>{{i.date}}</td>
					<td>{{i.organisation}}</td>
					<td>{{i.start}}</td>
					<td>{{i.end}}</td>
					<td>{{i.rank}}</td>
					<td>{{i.comment}}</td>
					<td>{{i.get_improvplan_display}}</td>
					<td>{{i.details}}</td>
					<td>{{i.assignedto}}</td>
					<td>{{i.car_no.containment}}</td>
					<td>{{i.due}}</td>
					<td>{{i.status}}</td>
                       

										
                        
						
						</tr>
                        


						{% endfor %}
					
						
					</table>
				
			</div>
			<div class="text-right">
                    <a href="{%url 'customersatisfaction_due' %}"><h6><< Back</h6></a>
                    </div>
			
		</div>
		

{% endblock content %}