{% extends "accounts/base.html" %} 

{% block content %}

<div class="col-md-28">
	 <h4 class="mb-3">Customer Complaint Pending:</h4>
 <p class="round2">	

			
			<table class="tableizer-table">
				<tr class="table-info">
					<th>ComplaintNo.</th>
					<th>Date</th>
					<th>time</th>
					<th>Complaint</th>
					<th>Organisation</th>
					<th>Process</th>
					<th>Type</th>
                    <th>Comp.Desc</th>
				
<th></th>
				</tr>
				
				{% for i in pendingcar %}
				
					<tr>
					<td>{{i.comp_no}}</td>
					<td>{{i.date}}</td>
					<td>{{i.time}}</td>
					<td>{{i.complaint}}</td>
					<td>{{i.organisation}}</td>
					<td>{{i.process}}</td>
					<td>{{i.type}}</td>
					<td>{{i.complaint_desc}}</td>
					
					
					
					<td><a class="btn btn-sm btn-info" href="{%url 'customercomplaint_planning' i.comp_no i.date %}">Action</a></td>

					</tr>

				{%endfor%}
		
			</table>


</div>


{% endblock %} 