
{% extends "accounts/base.html" %} 
 {% load static %}
{% block content %}
<style>
form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
</style>





<form action="/doc_manager/" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
          <h4 class="mb-3">Document Manager:</h4>
<p class="round2">   
 <div class="card-header">  
<table border="0">  
{%if form.errors %}  
 <div class="alert alert-danger"> Make sure file size is not more than 10MB </div>
 {%endif%} 

{{form}}
</table>

<br>
<p class="round2"> 
<div class="card card-body">
					<table class="form-group">c
					<tr> 

<td ><a class="btn  btn-warning" href="{% url 'home'%}"> Cancel </a></td>
<td align="right"><input class="btn btn-info" type="submit" name="Submit"></td>

					</tr>
          </table>
</div>
</div>

</form>
<!-- print message for successfull upload
  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
-->

{% endblock %} 

