
{% extends "accounts/base.html" %} 
{% block content %}

<style>
form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}


</style>
<div class="col-md-8 order-md-1">
          <h4 class="mb-3">Planning</h4>
         
<p class="round2"> 
<div class="col" id="divissues_register">
<table class="form-group">
					<tr> 
<td align="right"><a class="btn  btn-light" href="{% url 'correctiveaction_report'%}"> <font color="green">---Corrective Action Register--- </font></a></td>
	
          
 </tr>
</table>
</div>
<form action="/planning/" method="post">
                     {% csrf_token %}
                    
<table border="0">
{% for errors in form.errors %}
<div class="alert alert-danger"> {{form.errors}}</div>
{%endfor%}            
{{form}}
</table>


<br>
<p class="round2"> 
<div class="card card-body">
					<table class="form-group">
					<tr> 


<td ><a class="btn  btn-warning" href="{% url 'home'%}"> Cancel </a></td>
<td align="right"><input class="btn btn-info" type="submit" name="Submit"></td>
					</tr>
          </table>
</div>

</form>
</div>





{% endblock %} 
