{%  extends 'accounts/base.html' %}

{% block content %}
  	
		<div class="col-md-40">

			<div class="col-md-40">
            
		
				<div class="card card-body">
 <h4 class="mb-3">Provider Assessment:</h4>
 <p class="round2"> 


<form method="get">
                     {% csrf_token %}
                    
<table  class="tableizer-table" align="left">                
<thead><tr class="tableizer-firstrow">


<th>Summary</th>
<th>Start Date</th>
<th>End Date</th>
<th>Provider</th>
<th>Status</th>

<th></th>
</tr></thead>


<tbody><tr>
<td>{{myFilter.form.assesment_date}}</td>
<td>{{myFilter.form.start}}</td>
<td>{{myFilter.form.end}}</td>
<td>{{myFilter.form.Provider}}</td>
<td>{{myFilter.form.qmsstatus}}</td>

<td><button class="btn btn-info btn-sm" type="submit">Search</button></td>
</tr></tbody>
</table>
 </form>
<form method="post">{% csrf_token %} 
                    
<table  class="tableizer-table" align="right">                
<tbody><tr><td><button class="btn btn-success btn-sm" type="submit">Export to excel</button></td>
</tr></tbody>
</table>
 </form>		
		 
		  
				</div> 
				</div>
                </div>
	
                
					<table class="tableizer-table">
						<thead><tr class="tableizer-firstrow">
					<th>Review No.</th>
					<th>Date</th>
					<th>Provider</th>
                    <th>Organisation</th>
					
					
					<th>Appraisee</th>
					<th>Representative</th>
					<th>Rating</th>
					<th>ImprovementPlan</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Addit.Details</th>
            
                    <th>AssignedTo</th>
					<th>Timeline</th>
                    <th>VerificationStatus</th>
                    <th>VerificationComment</th>

                


				
					
				</tr></thead><tbody>
				
				{% for i in providerassessment %}
				
					<tr>
					<td>{{i.emp_perfrev_no}}</td>
					<td>{{i.start}}</td>
					<td>{{i.get_Provider_display}}</td>
                    <td>{{i.organisation}}</td>
				
					
					<td>{{i.appraise}}</td>
					<td>{{i.appraiseename}}</td>				
					<td>{{i.rank}}</td>
					
					<td colspan="11">
                     {% if i.get_jobknowledg_display  %}
                 <b>Job Knowledge:</b>{{i.get_jobknowledg_display}} 
                    {%endif%}               
                    {% if i.get_flexibility_display %}
                  <b> Adaptability:</b>  {{i.get_flexibility_display}}
                    
                    {%endif%} 
                    {% if i.get_problemsolving_display %}
                    <b> Problem solving:</b>{{i.get_problemsolving_display}}
                    
                    {%endif%}
                    {% if i.get_Initiativenes_display %}  
                    <b> Initiativeness:</b>{{i.get_Initiativenes_display}}
                    
                    {%endif%}
                    {% if i.get_planing_display %} 
                    <b> Planning & Org.:</b>{{i.get_planing_display}}
                    
                    {%endif%}
                    {% if i.get_workquality_display %} 
                    <b> Work quality:</b>{{i.get_workquality_display}}
                    
                    {%endif%}
                    {% if i.get_interskills_display %} 
                    <b> Interpersonal skills:</b>{{i.get_interskills_display}}
                    
                    {%endif%}
                    {% if i.get_communication_display %} 
                    <b> Communication skills:</b>{{i.get_communication_display}}
                    
                    {%endif%}
                    {% if i.get_supervisionmagt_display %} 
                    <b> Supervision & Mgt:</b>{{i.get_supervisionmagt_display}}
                    
                    {%endif%}
                    {% if i.get_availabilit_display %} 
                    <b> Availability:</b>{{i.get_availabilit_display}}
                    
                    {%endif%}
                    {% if i.get_professional_display %} 
                    <b> Professional contribution:</b>{{i.get_professional_display}}
                    
                    {%endif%}
                    
                    
                    </td>
                    	<td>{{i.nonconfdetails}}</td>
                   
                    <td>{{i.assigned}}</td>
					<td>{{i.due}}</td>
                    <td>{{i.qmsstatus}}</td>
                    <td>{{i.comment}}</td>

				
					</tr>
                    </tbody>

				{%endfor%}
						
					</table>
                  
         
			
		
		

{% endblock content %}