{% extends "accounts/base.html" %} 

{% block content %}

<div class="col-md-16">
 	 <h4 class="mb-3">Service Request Penading Plan:</h4>
 <p class="round2">		
	
			
			<table class="tableizer-table">
				<tr class="table-info">
                <th>SR ID</th> 
<th>Date</th> 
<th>Time</th> 
<th>Type</th>
<th>Mode</th>
<th>ITservice</th>
<th>Details</th>
<th>Priority</th>

                       <th></th>
                    <th></th>
										
				</tr></thead><tbody>
				
				{% for i in products %}
				
					<tr>
					<td>{{i.service_number}}</td>
<td>{{ i.date}}</td>
<td>{{i.time}}</td>
<td>{{i.request_type}}</td>
<td>{{i.request_mode}}</td>
<td>{{i.IT_service}}</td>
<td>{{i.other}}</td>
<td>{{i.priority}}</td>

        <td></td>

					
				
					<td><a class="btn btn-sm btn-info" href="{%url 'serviceRequestPlanning' i.service_number %}">Action</a></td>

                       
					</tr>

				{%endfor%}
		
			</table>

</div>


{% endblock %} 