
{% extends "accounts/base.html" %} 
{% block content %}

<style>
form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}


</style>
<div class="col-md-8 order-md-1">
          <h4 class="mb-3">Service Request</h4>
        <customer class="mb-3">Logging</customer> 
<p class="round2"> 

<form action="/services_request/" method="post">
                     {% csrf_token %}
 <div class="card-header">                    
<table border="0"> 
{% for errors in form.errors %}
<div class="alert alert-danger"> {{form.errors}}</div>
{%endfor%}            
{{form}}
</table>


<br>
<p class="round2"> 
<div class="card card-body">
					<table class="form-group">
					<tr> 


<td><a class="btn  btn-warning" href="{% url 'home'%}"> Cancel </a></td>
<td align="right"><input class="btn btn-info" type="submit" name="Submit"></td>
					</tr>
          </table>
</div>
</div>
</form>
</div>





{% endblock %} 








